body{
    font-family: Arial,;
    margin: 0%;
    padding: 0%;
}

header{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.perfil{
    width: 150px;
    height: 150px;
    border-radius: 20%;
}

.seccion{
    margin: 20px;
    border-collapse: collapse;
    border: solid 1px;
    color: darkcyan;
    border-radius: 5px;
}

.foto{
    width: 500px;
    height: 300px;
    margin-left: 30%;
    margin-bottom: 10%;
}
 
table{
    margin: 20px;
    border-collapse: collapse;
    border:solid 1px;
    color:darkcyan;
    
}
 th,td{
    padding: 8px;
    text-align: left;

 }

 .gris{
    background-color: rgb(194, 192, 192);
 }

 footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
 }

 #mas-info{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
 }
 
 a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
 }